<!doctype html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="../public/styles/chat.css">
</head>

<body>
    <div class="container">
        <div class="chats-list">
            <a href="/orders" class="chats-list__back">Back to orders</a>
            <div class="chats-list__items">
                {{#each chatsList}}
                <a href="/chats/{{this.id}}">{{this.name}}</a>
                {{/each}}
            </div>
            <form action="/chats/create" method="post" class="chats-list__form">
                <input type="text" name="chatName" placeholder="Write chat name" required>
                <button type="submit">Create new chat</button>
            </form>
        </div>
        <div class="chat">
            <ul id="messages">
                {{#each messages}}
                <li class="messages__item">
                    <span class="messages__author">{{this.name}}</span>
                    <span class="messages__txt">{{this.message}}</span>
                </li>
                {{/each}}
            </ul>
            {{#unless chatId}}
            <h2 class="chat-not-selected">Please, select chat</h2>
            {{/unless}}
            {{#if chatId}}
            <form action="/chat/send" method="post" class="message-form">
                <input id="message-input" autocomplete="off" required placeholder="Write a message..."
                    data-chatId="{{chatId}}" /><button class="message-form__submit" onClick="submitMessage(event)"
                    type="submit">Send</button>
            </form>
            {{/if}}
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>